<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="style/style.css">
        <title>Decision Matrix Calculator</title>
    </head>
    <body>
        <div id="app-section" ng-app="decisionMatrixCalculator" ng-controller="DMCController as dmcCtrl">
            
            <h1>Decision Matrix Calculator</h1>
            
            <section class="choices" ng-controller="ChoicesController as choicesCtrl">
                <h2>Choices</h2>
                <editable-names ng-model="dmcCtrl.choices" new-item-factory="choicesCtrl.newChoiceFactory"></editable-names>
            </section>
            
            <section class="attributes" ng-controller="AttributesController as attributesCtrl">
                <h2>Attributes</h2>
                <editable-names ng-model="dmcCtrl.attributes" new-item-factory="attributesCtrl.newAttributeFactory"></editable-names>
                
                <attribute-weights></attribute-weights>
            </section>
            
            <choice-attribute-matrix
                choices="dmcCtrl.choices"
                attributes="dmcCtrl.attributes"
                ratings="dmcCtrl.choiceAttributeRatings"></choice-attribute-matrix>
            
            <p class="result">
                <span class="label">The best choice:</span>
                <span class="choice">Left</span>
            </p>
            
            <button class="save-button">Save Matrix</button>
            
        </div>
        
        <noscript>
            Decision Matrix Calculator requires JavaScript to work.
        </noscript>
        
        <script src="js/app-js.js"></script>
    </body>
</html>
