.todo.done {
    text-decoration: line-through;
}


* {
  box-model: border-box;
}

body {
  margin: 1em;
}

.attribute-weights input {
  width: 3em;
}
.attribute-weights td, .attribute-weights th {
  padding: 3px;
}

.hide {
  font-size: 80%;
}

.matrix td, .matrix th {
  padding: 5px 7px;
  border: 1px solid grey;
  text-align: center;
}
.matrix .transpose {
  background-color: #e2e2e2;
}
.matrix .transpose input {
  width: 1.67rem;
}
.matrix input {
  width: 1em;
  text-align: center;
}

.score {
  background-color: #bfe5d6;
}

.result .choice {
  font-weight: bold;
}
