<table>
	<tr ng-repeat="attribute in attributesCtrl.attributes">
		<td ng-if="attribute.name">{{attribute.name}}</td>
		<td ng-if="!attribute.name">?</td>
		<td>
			<attribute-weight-slider
				granularity="1000"
				ng-model="attribute.absoluteWeightProperty(attributesCtrl.attributes)"
				ng-model-options="{getterSetter: true}"
				ng-change="attributesCtrl.normalizeWeights()"></attribute-weight-slider>
		</td>
		<td>
			<span class="percentage">{{weightsCtrl.percentageWeight(attribute, attributesCtrl.attributes) | number : 0}}%</span>
		</td>
		<td>
			<input type="number" class="relative-weight" min="0" ng-model="attribute.relativeWeight">
		</td>
	</tr>
</table>
