<table>
	<tr ng-repeat="attribute in attributesCtrl.attributes">
		<td>{{attribute.name}}</td>
		<td>
		<!--<input type="range" class="slider" min="0" max="1" step="0.1" ng-model="attribute.absoluteWeightProperty(attributesCtrl.attributes)" ng-model-options="{getterSetter: true}"></input>-->
		<attribute-weight-slider granularity="1000" ng-model="attribute.absoluteWeightProperty(attributesCtrl.attributes)" ng-model-options="{getterSetter: true}"></attribute-weight-slider>
		</td>
		<td>
			<span class="percentage">{{weightsCtrl.percentageWeight(attribute, attributesCtrl.attributes) | number : 0}}%</span>
		</td>
		<td>
			<input type="number" class="relative-weight" min="0" ng-model="attribute.relativeWeight">
		</td>
	</tr>
</table>
