<h2>Matrix</h2>

<table>
	<tr>
		<th class="transpose">
			<input title="transpose (switch rows and columns)" type="button" value="⤢">
		</th>
		<th>Pri…ce</th>
		<th>Qua…lity</th>
		<th class="score" title="Score (normalized)">
			Score</th>
	</tr>
	<tr>
		<th>Le…ft</th>
		<td>
			<input type="number" value="2">
			<span class="outof"> / 5</span>
		</td>
		<td>
			<input type="number" value="4">
			<span class="outof"> / 5</span>
		</td>
		<td class="score">1</td>
	</tr>
	<tr>
		<th>Ri…ght</th>
		<td>
			<input type="number" value="1">
			<span class="outof"> / 5</span>
		</td>
		<td>
			<input type="number" value="4">
			<span class="outof"> / 5</span>
		</td>
		<td class="score">0</td>
	</tr>
</table>
