<h2>Matrix</h2>

<p style="font-style: italic;">The below is a static mockup and has not been implemented yet.</p>

<table>
	<tr>
		<th class="transpose">
			<input title="transpose (switch rows and columns)" type="button" value="⤢">
		</th>
		<th>Price</th>
		<th>Quality</th>
		<th class="score" title="Score (normalized)">
			Score</th>
	</tr>
	<tr>
		<th>Left</th>
		<td>
			<input type="number" value="2">
			<span class="outof"> / 5</span>
		</td>
		<td>
			<input type="number" value="4">
			<span class="outof"> / 5</span>
		</td>
		<td class="score">1</td>
	</tr>
	<tr>
		<th>Right</th>
		<td>
			<input type="number" value="1">
			<span class="outof"> / 5</span>
		</td>
		<td>
			<input type="number" value="4">
			<span class="outof"> / 5</span>
		</td>
		<td class="score">0</td>
	</tr>
</table>
